@import url("https://fonts.googleapis.com/css?family=Oswald:500");
@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");
$bg-color: #000;
$theme-color: #000;
$font-color: #555;
$nav-bg-color: #fff;
$menu-bg-color: #444;
$xs: 776px;

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
}

.hidden-xs{
    @media (max-width: 776px) {
        display: none;
    }
}

.blotters {
    font-family: "Oswald";
    font-size: 60px;
    margin-bottom: 25px;

    @media (max-width:776px) {
          font-size: 32px;
    }
}

.header {
    padding: 15px 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
    transition: 0.15s;
    @media (max-width: 776px) {
        padding: 10px 15px;
    }

    a {
        color: #fff;
    }

    .navi {
        flex: 1;
        opacity: 0;
        transition: 0.3s;

        @media (max-width: 776px) {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            z-index: 1;
            padding-top: 60px;
            opacity: initial;
            transition: none;
            overflow: auto;
            padding-bottom: 45px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: right;

            .show {
                display: block;
            }

            @media (max-width: 776px) {
                width: 100%;
                text-align: center;
                display: block;
            }

            li {
                display: inline-block;
                padding: 15px 20px;
                color: #fff;
                position: relative;

                @media (max-width: 776px) {
                    display: block;
                    padding: 35px 15px;
                    letter-spacing: 5px;
                }

                &:hover {
                    > ul {
                        @media (min-width: 776px) {
                            display: block;
                        }
                    }
                }
                ul {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    display: none;

                    @media (max-width: 776px) {
                        position: relative;
                        width: 100%;
                        padding-top: 25px;
                        padding-bottom: 25px;
                        border-bottom: dashed 1px #fff;
                        border-top: dashed 1px #fff;
                        margin-top: 35px;
                    }

                    li {
                        text-align: left;
                        width: auto;
                        display: block;
                        background: #000;
                        white-space: nowrap;
                        @media (max-width: 776px) {
                            text-align: center;
                        }
                        &:hover {
                            > ul {
                                @media (min-width: 776px) {
                                    display: block;
                                }
                            }
                        }

                        ul {
                            left: 100%;
                            top: 0;
                            display: none;
                            @media (max-width: 776px) {
                                position: static;
                            }
                        }
                    }
                }
            }
        }
    }

    .logo {
        height: 50px;
        position: relative;
        z-index: 10;
        @media (max-width: 776px) {
            height: 40px;
        }
        img {
            height: 100%;
        }
    }

    &.scrolled,
    &.no-kv {
        background: #000;
        .navi {
            opacity: 1;
        }
    }
}

a {
    color: #444;
    text-decoration: none;
} 

h1 {
    font-size: 64px;

    @media (max-width: 776px) {
        font-size: 32px;
        line-height: 1.45em;
    }
}

h2 {
    font-size: 24px;
    @media (max-width: 776px) {
        font-size: 20px;
    }
}

p {
    font-size: 17px;
    line-height: 1.55em;
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    max-width: 1440px;
    margin: 45px auto;
    padding: 45px 25px;

    @media (max-width: 776px) {
        margin: 25px auto;
        padding: 25px;
        margin-bottom: 0;
        padding-bottom: 25px;
    }

    > h2 {
        margin-top: -30px;
        color: #555;
        border-top: solid 3px #222;
        padding-top: 10px;
        margin-bottom: 45px;
        @media (max-width: 776px) {
            margin-bottom: 25px;
        }
    }

    >h1 {
        font-family: 'Oswald' ,sans-serif;
        margin-bottom: 25px;
        
        @media (max-width:$xs) {
            padding-bottom: 15px;    
        }
    }
}

.blotter {
    font-size: 0;
}

.button {
    margin: 25px auto;
    position: relative;
    display: inline-block;
    &:hover {
        div:first-child {
            color: #000;
            background: #fff;
            border-color: #000;
        }
        .door {
            transform: translate(0px, 0px);
        }
    }
    > div:first-child {
        position: relative;
        background: #000;
        border: solid 1px #fff;
        padding: 15px 25px;
        cursor: pointer;
        display: inline-block;
        color: #fff;
        border: solid 3px #fff;
        transition: 0.5s;
        z-index: 1;

        @media (max-width: 776px) {
            padding: 10px 15px;
        }
    }

    .door {
        transition: 0.5s;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(5px, -6px);
        width: 100%;
        height: 100%;
        background: #fff;
        transition: 0.3s;
        z-index: 0;

        &::after {
            content: "";
        }
    }
}

.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.footer {
    padding: 60px;
    background: #000;
    color: #eee;

    @media (max-width: 776px) {
        padding: 25px;
        text-align: center;
    }

    a {
        color: #ddd;
    }

    .container {
        margin: auto;
        padding: 0;
        display: flex;

        @media (max-width: 776px) {
            display: block;
        }

        .left-block {
            max-width: 260px;
            @media (max-width: 776px) {
                max-width: 100%;
            }
        }

        .right-block {
            flex: 1;
        }
    }

    .logo {
        height: 85px;
        margin-bottom: 45px;

        @media (max-width: 776px) {
            margin-top: 45px;
            margin-bottom: 60px;
        }

        img {
            height: 100%;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        font-size: 0;

        @media (max-width: 776px) {
            text-align: left;
            max-width: 80%;
            margin: auto;
        }
        li {
            padding: 5px 15px 5px 0;
            font-size: 14px;
            list-style: none;
        }
    }

    .flex-2-container {
        li {
            width: 50%;
            display: inline-block;
        }
    }
    .flex-box {
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: auto;
        justify-content: flex-end;

        @media (max-width: 776px) {
            justify-content: flex-start;
        }

        .contact {
            li {
                min-width: 270px;
            }
        }

        .product {
            width: 260px;
            @media (max-width: 776px) {
                width: 100%;
            }
        }

        > div {
            width: auto;
            margin-left: 80px;

            @media (max-width: 776px) {
                margin: auto;
                width: 100%;
            }

            .footer-title {
                height: 85px;
                display: table-cell;
                vertical-align: bottom;
                color: #aaa;
                font-size: 17px;
                border-bottom: solid 2px #aaa;
                padding-bottom: 5px;

                @media (max-width: 776px) {
                    height: auto;
                    display: block;
                    border: none;
                    margin-top: 45px;
                    font-size: 21px;
                    text-align: left;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            > div {
                &:last-child {
                    margin-top: 45px;
                    @media (max-width: 776px) {
                        margin-top: 15px;
                    }
                }
            }
        }

        .credit {
            padding-top: 25px;
            @media (max-width: 776px) {
                text-align: center;
                margin-bottom: 45px;
                margin-top: 45px;
            }
            p {
                font-size: 14px;
            }
            width: 100%;
            text-align: right;
        }
    }
}

.arrow {
    display: inline-block;
    height: 1em;
    position: relative;
    margin-left: 7px;
    margin-right: 15px;

    &:after {
        position: absolute;
        content: "";
        top: 2px;
        height: 10px;
        width: 10px;
        border-bottom: solid 1px #fff;
        border-left: solid 1px #fff;
        transform: rotate(-45deg);
    }
}

.flex-1 {
    flex: 1;
    @media (max-width: 776px) {
        flex: auto;
    }
}

.timeline {
    display: table;
    margin: auto;
    ul{
        @media (max-width:776px) {
            padding: 0;
        }
    }
    li {
        position: relative;
        padding-left: 190px;
        list-style: none;

        @media (max-width:776px) {
            padding-left: 60px;
        }

        &:last-child {
            .content {
            }
            &::before {
                background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
            }
        }

        &::after {
            content: "";
            position: absolute;
            left: 170px;
            height: 17px;
            width: 17px;
            border-radius: 100%;
            background: #000;
            top: 5px;

            @media (max-width:776px) {
                left: 90px;
            }
        }

        &::before {
            content: "";
            position: absolute;
            left: 170px;
            height: 100%;
            width: 1px;
            margin-left: 7px;
            background: #000;
            top: 5px;

            @media (max-width:776px) {
                left: 90px;
            }
        }

        .left-content {
            position: absolute;
            left: 0;
            width: 130px;
            text-align: right;

            @media (max-width:776px) {
                width: 65px;
            }
            p {
                font-weight: bold;
                font-size: 14px;
            }
            .time {
                font-size: 23px;
                line-height: 1em;
                margin-top: 3px;
                font-family: "Oswald";
            }
        }

        .content {
            padding-left: 45px;
            padding-bottom: 35px;
            @media (max-width: 776px) {
                padding-left: 65px;
            }
            p {
                margin-top: 0;
            }
        }
    }
}

.center-container {
    margin: 45px auto;
    max-width: 880px;
    padding: 45px;
    text-align: center;

    img {
        margin: 45px auto;
        width: 100%;
    }
}

.white-bg {
    margin: 0 auto 60px;
    display: table;
    padding: 45px 25px;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    @media (max-width:776px) {
        margin-bottom: 25px;
    }
}

.follow {
    ul {
        padding: 0;
        margin: auto;
        padding-top: 35px;
        padding-bottom: 15px;
        li {
            list-style: none;
            padding: 15px 10px;
            display: inline-block;

            i {
                font-size: 42px;
            }
        }
    }
}

.list-container {

    >.container{
        padding: 0;
        max-width: 450px;
        margin-bottom: 120px;
    }

    .flex-box {
        margin-left: -15px;
        margin-right: -15px;
        > div {
            width: 33.33333%;
            padding: 15px;
            margin-bottom: 25px;
            @media (max-width: $xs) {
                width: 100%;
            }
            .title {
                display: block;
                display: -webkit-box;
                font-weight: bold;
                line-height: 1.55em;
                margin-bottom: 15px;
                font-size: 18px;
                height: 52px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .name {
                font-size: 21px;
                font-weight: bold;
                margin-top: 25px;
                margin-bottom: 10px;
            }
            p {
                text-align: left;
            }
            span {
                font-size: 14px;
                color: #555;
                padding: 2.5px;
            }
        }
        .headline {
            width: 100%;
            text-align: center;

            .title {
                font-size: 24px;
                font-weight: bold;
                margin-top: 10px;
                height: auto;
                margin-bottom: 0;
            }

            span {
                display: block;
            }
        }
    }

    .member-box {
        margin-top: 60px;
        @media (max-width:$xs) {
            margin: auto;
        }

        &.brands{
            img{
                border-radius: 0;
            }
        }

        >div, >a {
            @media (max-width:$xs) {
                width: 100%;
                padding: 25px;
            }
            width: 25%;
            padding: 35px;
            .name{
                margin-top: 25px;
                font-size: 18px;
            }
            img{
                width: 85%;
                border-radius: 100%;
                @media (max-width:$xs) {
                    border-radius: 0px;
                    width: 100%;
                }
            }

            p{
                margin-top: 15px;
                font-size: 16px;
            }
        }

    }
}

.page-navi {
    ul {
        padding: 0;
        margin: auto;
        margin-bottom: 25px;
        text-align: center;

        li {
            list-style: none;
            display: inline-block;
            padding: 7px 15px;
            background: #eee;
            margin-right: 10px;
            font-size: 15px;
            border-radius: 5px;
            transition: 0.25s;
            @media (max-width: $xs) {
                margin-bottom: 15px;
                margin-right: 5px;
                margin-left: 5px;
                padding: 7px 10px;
            }
            cursor: pointer;

            &:hover {
                background: #ccc;
            }
            &.active {
                background: #000;
                color: #fff;
            }
        }
    }
}

.pager {
    ul {
        padding: 0;
        margin: auto;
        text-align: center;
        li {
            font-size: 18px;
            padding: 10px;
            color: #777;
            font-family: "Oswald";
            list-style: none;
            display: inline-block;
        }
    }
}

.job-list{
    margin: auto;
    margin-top: 45px;
    padding: 0;
    border: solid 1px #aaa;
  
    >li{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: #f7f7f7;
        border-top: solid 1px #aaa;
        color: #555;

        .title{
            cursor: pointer;
            i{
                transform: rotate(0deg);
                transition: 0.3s;
            }
            &.active{
                i{
                    transform-origin: center;
                    transform: rotate(-180deg);
                }
            }
        }
        &:last-child{
            border-bottom: solid 1px #aaa;
        }

        &.active {
            color: #000;
        }
        i{
            font-size: 21px;
            float: right;
        }
        >div{
            padding: 15px;
            &:nth-child(1){
                width: 10em;
            }
            &:nth-child(2){
                flex: 1;
            }

            &:nth-child(3){
                display: none;
                background: #fff;
                border-top: solid 1px #ccc;
                width: 100%;
                padding-bottom: 25px;
                ul{
                    padding: 0;
                }
                li{
                    list-style: disc;
                    padding: 7.5px 0;
                    padding-left: 5px;
                    margin-left: 1.5em;
                    line-height: 1.55em;

                }
            }
        }
        .jobs-content{
            padding: 15px 25px;
        }
        h5{
            font-size: 19px;
            margin: 15px auto;
        }
        hr{
            margin: 25px auto;
            border: none;
            border-top: dashed 1px #ccc;
        }
    }
}

.faq-list{
    li>div{
        &:first-child{
            width: 0;
            padding: 0;
        }
    }
}

.anchor{
    margin-bottom: 45px;
    h3{
        margin-bottom: 0;
    }
    .job-list{
        margin-top: 25px;
    }
}

.article{
    max-width: 770px;
    h1{
        font-size: 36px;
    }

    .box{
        margin: 25px auto;
        font-size: 14px;
        color: #777;
    }

    .follow{
        ul{
            text-align: left;

            li{
                padding: 10px;
            }
        }
        i{
            font-size: 28px;
        }
    }

    .author-box{
        padding: 35px;
        background: rgba(249, 249, 249, 0.85);
        max-width: 770px;
        margin: 60px auto 0;
        color: $font-color;
        
        @media(max-width:$xs){
            padding: 15px;
            margin-right: 15px;
            margin-top: 0px;
        }
        
        .top-info{
            display: flex;
            align-items: center;
            
            .img{
                width: 65px;
                margin-right: 15px;
                border-radius: 2px;
                overflow: hidden;
                
                @media(max-width:$xs){
                    width: 45px;
                    margin-right: 5px;
                }
            }
            
            .name {
                flex: 1;
                font-size: 19px;
            }
            
            p{
                padding: 5px;
                
            }
    
            li{
                display: inline-block;
                padding: 5px;
                color: $theme-color;
                font-size: 16px;
                margin-top: 5px;
                
                @media(max-width:$xs){
                    font-size: 14px;
                    margin-top: 0px;
                }
            }
        }
        
        hr{
            border: none;
            border-top: dotted 1px #ccc;
            margin-bottom: 25px;
        }
        
        .description{
            border-top: dotted 1px #ccc;
            font-size: 14px;
            line-height: 1.55em;
            padding-left: 85px;
            margin-bottom: 10px;
            margin-top: 10px;
            padding-top: 15px;
            
            @media(max-width:$xs){
                padding-left: 0px;
                font-size: 13px;
            }
            
            p{
                @media(max-width:$xs){
                    position: relative;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    line-height: 18px;
                    font-size: 12px;
                    height: 54px;
                    margin-bottom: 0px
                }
            }
        }
        
        .more-author-btn {
            font-size: 14px;
            border: solid 1px $theme-color;
            display: table;
            padding: 8px;
            border-radius: 2px;
            margin-top: 15px;
            color: $theme-color;
            letter-spacing: 0.5px;
            font-size: 13px;
            margin-left: 85px;
            
            @media(max-width:$xs){
                margin-left: 0px;
                font-size: 12px;
            }
        }
    }
}

#editor{
    max-width: 700px;
    margin: auto;
    li{
        margin-bottom: 1em;
        margin-top: 1em;
        li{
            &:last-child{
                margin-bottom: 1.5em;
            }
        }
    }

    p + h4{
        margin-top: 35px;
    }
}