header{
    position: fixed;
    top: 0;
    left: 0;
    height: 140px;
    width: 100%;
    //background: #ffffff;
    @media (max-width: 776px) {
        height: 100px;
        position: static;
    }
    img{
        height: 100%;
        margin-left: 25px;
    }
}

body{
    font-family: sans-serif;
    margin: 0;
    background: #000;
}

#editor{ 
    max-width: 800px;
    padding: 0 25px;
    margin: 120px auto 120px;
    color: #fff;
    line-height: 1.55em;
    font-size: 17px;
    letter-spacing: 0.5px;

    @media (max-width: 776px) {
        margin: 25px auto 45px;
    }

    h1{
        font-size: 38px;
        margin-bottom: 60px;
        line-height: 1.55em;

        @media (max-width: 776px) {
            font-size: 30px;
            margin-top: -5px;
            margin-bottom: 35px;
        }
    }

    h2{
        @media (max-width: 776px) {
            font-size: 18px;
        }
    }

    ul,ol{
        margin: 15px auto 25px;
        li{ 
            margin-bottom: 5px;
        }
    }

    a{
        color: #aaa;
    } 
}

footer{
    background: #333;
    padding: 35px;
    p{
        font-size: 14px;
        color: #ccc;
        text-align: center;
    }
}
